.home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: #fff;
}
.homeContainer{
    position: relative;
} 
.detaile h2{
    color: white;
    font-size: 50px;
    margin-top: 30px;
}
.coverImage{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.coverImage img{
   width: 100vw;
   height: 100vh;
   object-fit: cover; 
}
.homeContainer .content{
    padding: 50px;
}
.homeContainer h1{
    margin-top: 40px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    background-image: url(../../../../public/images/upcome/texure.jpg);
    background-repeat: repeat;
    background-clip:text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    /* -webkit-font-smoothing:antiliassed; */
}
.coverImage::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 88;
}
.homeContainer .rating{
    margin: 30px 0;
}
.rating i{
    color: brown;
    margin-right: 5px;

}
.label{
    margin: 0 20px;
}
span{
    /* background-color: beige; */
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.homeContainer .cast{
    margin: 30px 0;
}
.cast h4{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 17px;
}
.cast h4 span{
color: brown;
}
.playButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.playButton .img{
    position: relative;
} 
.change{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.playButton img{
    width: 98px;
    height: 90px;
    margin-right: 20px;
    transition: 0.5s;
}
.playButton button:hover .change{
    opacity: 1; 
}
.playButton button{
   cursor: pointer; 
   padding: 0;
   margin: 0;
   background: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 2px;
   transition: 0.5s ;
}

.margin{
    margin-top: 50%;
    
}
@media only screen and (max-width:768px) {
    .homeContainer h1{
        font-size: 50px;
        margin: 0;
    }
    .home{
        position: absolute;
        margin: 0;
        height: 60vh !important;
    }
    .coverImage img{
        width: 100vw;
        height: 70vh!important;
    }
    .home .row{
        width: 100%;  
    }
    .home .playButton{
        display: none;
    }
    .detaile h2{
        color: white;
        font-size: 40px;
        margin-top: 20px;
    }
    .rating{
        margin: 0 ;
    }
}