body{
    background-color: #000000;
    color: white;
}
.singHeading{
    background-color: #161717;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.singHeading h1{
    text-transform: uppercase;
    font-size: 30px;
}
.singHeading span{
    word-spacing: 5px;margin-left: 10px;
}
.singHeading .container{
    max-width: 80%;
    margin:auto;

}
video{
    width: 100%;
    margin: 5% 0;
}
.singlepage h3{
    font-weight: 500;
}
.singlepage p{
    /* line-height: 25; */
    /* margin-top: 20px; */
}

.social{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0;
}
.social i{
    padding: 10px;
}